<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
<div class="container">
    <div id="navbar">
        <ul class="nav">
            <li>Front page</li>
            <li><a href="studentList.html">Students</a></li>
            <li><a href="courseList.html">Courses</a></li>
        </ul>
    </div>
    <div id="front-page-text">
        <p>
            Tryk på Students for at se oversigt over tilmeldte studerende eller tryk på Courses for at se oversigt over kurser
        </p>
    </div>
</div>
</body>
</html>
